/* style 
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);


li {

	color: white;
/*	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14pt;
	color: black;
	text-shadow: -2px -1px 0px rgba(255, 255, 255, 1);
	list-style-type: none; */
	
}

h1 {
	
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	color: black;
	text-shadow: -2px -1px 0px rgba(255, 255, 255, 1);
	
}


#player {
	position: absolute;
/*	border: 2px dotted red; /* visual help */
}

#header {
	position: relative;
	z-index: 10;
	margin-top: 20px;
	margin-left: 20px;
/*	border: 2px dotted red; /* visual help */
}

#menu {
	z-index: 10;
	/* margin-top: auto;
	margin-left: 20px;*/
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: black;
	color: white;
	font-size: 10pt;
/*	border: 2px dotted red; /* visual help */
}

#debug {
	z-index: 10;
/*	margin-top: auto;
	margin-left: 20px; */
	position: relative;
	top: 0px;
/*	border: 2px dotted orange; */
}

video {

	position: fixed;
	top: 50%;
    	left: 50%;
    	min-width: 100%;
    	min-height: 100%;
    	width: auto;
    	height: auto;
    	z-index: -100;
    	-webkit-transform: translateX(-50%) translateY(-50%);
    	transform: translateX(-50%) translateY(-50%);
    	background: url(example.jpg) no-repeat;
    	background-size: cover;	
}
